body {
	background-image: url("../images/asanoha.png");
	background-color: #ffffff
	font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	
	
}
#main
{
	margin-left: 113px;
	margin-right: 174px;
}

#profile
{
	float:left;
	margin-right:10px;

}
#header{
	color:#ffffff
}

#nav{
	color:#777777;
}

#left{
	float:left;
	width: 650px;
	background-color: #FFFFFF;
	margin-right: 30px;
	padding: 24px;
}

#right{
	float:right;
	width: 167px;
	height: 191px;
	background-color: #FFFFFF;
	padding: 24px;
}


#footer{
	clear:both;
	background-color:#666666;
    border-top: thick solid #4aaaa5;
    position: fixed;
    bottom: 0;

}


li
{
	display: inline;
}


h1 {

	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#FFFFFF;
	background-color:#4aaaa5;
	width: 173px;
}

h2 {

	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#4aaaa5;
}

h3 {

	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#4aaaa5;
}
